name: Run

on:
  schedule:
    - cron: '0 14 * * 4' # every Thursday at 2:00 pm UTC

env:
    FROM_EMAIL: ${{secrets.FROM_EMAIL}}
    EMAIL_PASSWORD: ${{secrets.EMAIL_PASSWORD}}
    TO_LIST: ${{secrets.TO_LIST}}
    SMTP_HOST: ${{secrets.SMTP_HOST}}
    SMTP_HOST_PORT: ${{secrets.SMTP_HOST_PORT}}
    NUM_MEALS_TO_SEND: ${{ vars.NUM_MEALS_TO_SEND }}
    SOURCE_FILE_DIR: ${{ vars.SOURCE_FILE_DIR }}

jobs:

  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: CGO_ENABLED=0 go build -v ./cmd/meal-plan-randomizer
    
    - name: Run
      run: ./meal-plan-randomizer

    - name: Uploaded updated meal list
      uses: actions/upload-artifact@v4
      with:
        name: updated-list
        path: etc/updated_meals.json

  update-list:
    needs: run
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    
    - uses: actions/checkout@v3
    
    - name: Download artifact and access file
      uses: actions/download-artifact@v4
      with:
        name: updated-list

    - name: Overwrite meal list
      run: | 
        cat updated_meals.json > etc/meals.json
        rm updated_meals.json

    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Automated Change
